@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300&display=swap");

body {
  font-family: "Joan", serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
}
.header {
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 5%;
  padding-bottom: 10px;
}

#container {
  position: relative;
}
#container canvas,
.tools {
  position: absolute;
}

/* .whiteboard {
    margin-top: 5%;
    height: 65%;
    width: 100%;
    border: 2px solid #000000!important;
    background-color: #fff;
    cursor: crosshair;
  } */

/* img{
    height: 5%;
    width: 5%;
} */
/* .main{
    height: 1000px;
} */
/* .whiteboard {
    border: 1px solid black;
    cursor: crosshair;
  } */
.whiteboard {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  cursor: url("pencil2.png") -12 6, auto;
}

/* .colors {
    position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; } */

.main {
  display: flex;
  flex-direction: row;
}

.chatroom {
  width: 20%;
  /* margin-left: auto; */
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.main-board {
  margin: 0 auto;
  width: 80%;
}
/* .whiteBoard{
    height: 750px;
    width: 95%;
    border: 2px solid black;
    /* display: flex;
    align-items: center;
    justify-content: center; 
}*/

.tools {
  display: flex;
  /* flex-direction: row; */
  text-align: center;
  /* padding-left: 10%; */
  width: 80%;
  padding-right: -20%;
  border: 1px solid black;
  margin-left: 10%;
  /* padding-left: 2 %; */
  border-radius: 2rem;
  box-shadow: 3px 3px #989898;
}
.pen-tools {
  /* height: 70px;
    width: 70px; */
  background-color: rgb(255, 255, 255);
  border: 0;
}

/* .tools button{
    height: 20px;
    width: 20px;
    padding: 10px 5px;
} */

.pages,
.un-redo,
.zoomin,
.rest-tools {
  display: flex;
  flex-direction: row;
  padding: 0% 3%;
  border-right: 1px black solid;
  margin: 1px 0;
}

.un-redo button {
  margin: 0 10%;
}

.rest-tools {
  width: 45%;
}

.rest-tools {
  line-height: 1;
  margin: 0;
}

.rest-tools button {
  padding: 0 10%;
}
.dropdown-content {
  position: absolute;
  /* top: 100%;
    left: 0; */
  top: 13%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}
.pen {
  top: 100%;
  left: 28%;
  display: flex;
  flex-direction: column;
}
.pen button {
  height: 2rem;
  width: 1.5rem;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin: 10px 5px;
}

.eraser {
  top: 100%;
  left: 34%;
}

.shapes {
  top: 100%;
  left: 40%;
}
.shapes button {
  height: 2rem;
  width: 1.5rem;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin: 10px 5px;
}
.zoom {
  /* display: flex; */
  top: 85%;
  display: flex;
  flex-direction: column;
  width: 7%;
}
.zoom button {
  float: left;
}

.pages .pageNo {
  text-align: center;
  width: 50px;
  border: 1px solid black;
  margin: 9px;
}

.drawing-cursor {
  cursor: url(../Icons/pencil.png) 0 16, crosshair; /* Replace pen-cursor.png with the path to your custom pen cursor image */
}
