@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300&display=swap");

body {
  font-family: "Joan", serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
}
